body {
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-family: 'Bungee Shade', cursive;
}
/*form {
	margin-bottom: 10px; 
}*/
#topic-form{
	max-width: 170px;
}
#topic-input {
	width: 100%;
	
}
/*https://www.w3schools.com/howto/howto_css_button_group_vertical.asp
*/#btn-list {
	display: grid;

}

.gif-div {
	height: 200px;
	min-width: 200px;
	margin: 10px 10px 20px 10px;
	float:left;
}

.gif-div img{
	max-height: 200px;
}