body {
	font-family: 'Roboto', sans-serif;
	background: url(../images/background-13849_640.jpg);
	background-size: cover;
}

h1 {
	font-family: 'Bungee Shade', cursive;
	font-weight: bold;
}

p {
	color: white;
}

#topic-form {
	max-width: 170px;
}

#topic-input {
	width: 100%;
	
}

#btn-list {
	display: grid;
}

.thumbnail {
	height: 242px;
	min-width: 200px;
	margin: 10px;
	float:left;
	background-color: #fff;
}

.gif {
	max-height: 200px;
}
